.form {
  margin: 0 auto;
  max-width: 960px;
}

.form-title {
  text-align: center;
}

.form-item + .form-item {
  margin-top: 20px;
}

.form-required {
  background-color: #efefef;
  padding: 5px;
  margin-left: 30px;
}

.form-item-inputs {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.form-item-textarea {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.form-item-text {
  margin-top: 20px;
  background-color: #efefef;
}

.contact-footer {
  margin-bottom: 60px;
}

.contact-footer-text {
  text-align: center;
  margin-top: 20px;
}

.contact-footer-submit {
  text-align: center;
  margin-top: 20px;
}

.util-link {
  padding: 10px 150px;
}